.form-container {
    max-width: 400px;
    margin: 5% auto;
    padding: 4% 2%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .form-container h1{
    padding: 15% 2%;
    margin-bottom: 10px;
    color: green;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"],
  input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    /* border: 1px solid #ccc; */
    border-radius: 3px;
  }
  
  .password-input-group {
    margin-bottom: 15px;
  }
  
  .password-input {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .error-message {
    display: block;
    color: red;
    margin-top: 5px;
  }
  
  .submit-button {
    background-color:green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 10px;
  }

  .new-button{
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    color: #ffffff;
    background-color: #5cb85c;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  