.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* background-color: #f8f9fa; Background color */
    padding: 1rem 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
    z-index: 1000; /* Ensures it stays on top */
    transition: left 0.3s ease, width 0.3s ease; /* Smooth transition for sidebar */
  }
  
  .container-fluid {
    max-width: 1140px; /* Adjust according to your layout */
    margin: 0 auto;
  }
  
  .text-start, .text-end {
    display: flex;
    align-items: center;
  }
  .text-end{
    justify-content: flex-end;
  }
  
  .text-start a, .text-end a {
    text-decoration: none;
    color: inherit;
  }
  .text-end ul {
    display: flex;
    gap: 1rem;
  }  
  
  .list-inline {
    margin-bottom: 0;
  }
  
  .list-inline-item {
    margin-right: 10px;
  }
  
  .list-inline-item:last-child {
    margin-right: 0;
  }
